# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Firebase / External Dependency Manager
Assets/Firebase/
Assets/Firebase.meta
Assets/ExternalDependencyManager/
Assets/ExternalDependencyManager.meta
Assets/Editor Default Resources/
Assets/google-services.json
Assets/google-services.json.meta
Assets/StreamingAssets/google-services-desktop.json
Assets/StreamingAssets/google-services-desktop.json.meta